@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

.nav-link {
  font-family: Roboto;
  font-style: normal;
  color: #19345e !important;
  font-size: 15px;
  line-height: 15px;
}

.nav-link:hover {
  color: #f47522 !important;
}

.nav-custom-width {
  margin-left: 98px !important;
  margin-right: 98px !important;
}

.hero {
  background-image: url(/assets/img/bg-img.png);
  background-size: cover;
  padding-top: 184px;
  padding-bottom:300px;
}

.avatar {
  border-radius: 50% !important;
  width: 355px;
  height: auto;
}

.hero-desc h5 {
    font-size: 25px;
    color: #19345e !important;
}

.hero-desc h1 {
    font-size: 85px;
    color: #19345e !important;
}

.hero-desc h3 {
    font-size: 35px;
    color: #19345e !important;
}

.hero-left {
    padding-right: 10px;
}

.hero-btn {
    background-color: #f47522 !important;
    margin-top: 10px;
    padding: 10px 40px 10px 40px !important;
    border-radius: 20px !important;
    border-style: none;
}

@media (min-width: 468px) and (max-width: 991.98px) {
    .nav-custom-width {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  
    .avatar {
      border-radius: 50% !important;
      width: 155px;
      height: 155px;
    }

    .hero-desc h5 {
        font-size: 10px;
        color: #19345e !important;
    }
    
    .hero-desc h1 {
        font-size: 35px;
        color: #19345e !important;
    }
    
    .hero-desc h3 {
        font-size: 15px;
        color: #19345e !important;
    }

    .hero-btn {
        background-color: #f47522 !important;
        padding: 5px 20px 5px 20px !important;
        border-radius: 20px !important;
        border-style: none;
    }
  }